<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Calculator.Properties.Settings>
            <setting name="QuoteIP" serializeAs="String">
                <value>10.0.39.206</value>
            </setting>
            <setting name="QuotePort" serializeAs="String">
                <value>10010</value>
            </setting>
            <setting name="QuoteUser" serializeAs="String">
                <value>gdzq201</value>
            </setting>
            <setting name="QuotePsw" serializeAs="String">
                <value>gdzq201</value>
            </setting>
        </Calculator.Properties.Settings>
    </userSettings>
</configuration>